<!-- start : header -->
<header class="navbar fixed-top bg-danger" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <nav class="app-title">
          {{appTitle}}
        </nav>

        <!-- start  : nested circle -->
        <div id="outer-circle">
          <div id="inner-circle-1">
            <div id="inner-circle-2">
              <div id="inner-circle-3">
              </div>
            </div>
          </div>
        </div>
        <!-- end  : nested circle -->

        <!-- start : nested circle -->
        <!-- <div class="nested-circle">
          <div class="b_circle">
            <div class="m_circle">
              <div class="s_circle">
              </div>
            </div>
          </div>
        </div>-->
        <!-- end  : nested circle -->

        <!-- start : nested circle -->
        <!--<div class="circle"></div>-->
        <!-- end  : nested circle -->

      </div>
    </div>
  </div>
</header>
<!-- // end : header -->

