<!-- start : header -->
<header class="fixed-top" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="app-title">
          {{appTitle}}
        </div>

        <!-- start  : nested circle -->
        <div id="outer-circle">
          <div id="inner-circle-1">
            <div id="inner-circle-2">
              <div id="inner-circle-3">
              </div>
            </div>
          </div>
        </div>
        <!-- end  : nested circle -->

      </div>
    </div>
  </div>
</header>
<!-- // end : header -->

