//  @ desc:   Main custom application styles

body {
  color: $textColor;
  background: #fff;
  font-family: "Roboto Condensed";
  font-size: 20px;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

a {
  color: $linkcolor;
}

main {
  margin-bottom: 40px;
}

label, .updatePersonalDetails .form-group p {
  font-size: 16px;
  font-weight: bold;
}

badge {
  font-weight: 100;
}

.btn-primary {
  background-color: $btnPrimaryColor;
  color: #353A38;
  font-size: 20px;
  border-color: $btnPrimaryColor;

  &:hover {
    background-color: $btnPrimaryHoverColor;
    color: #353A38;
    border-color: $btnPrimaryHoverColor;
  }

  &.disabled, &:disabled {
    background-color: lighten($btnPrimaryColor, 20%);
    border-color: lighten($btnPrimaryColor, 20%)
  }
}

.btn-secondary {
  color: #353A38;
  font-size: 20px;
}

.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.icon-warning {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .5625rem;
  background-size: 1.125rem 1.125rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

nav ul, .logoutBlock, .pageHeading, .btn, button {
  font-family: "Roboto Condensed";
}

.btn {
  cursor: pointer;
}

.mandatory {
  font-size: 16px;
  color: #B22222;
}

.navbar-collapse {
  border-top: 0
}
