//  @ desc:   Main custom application styles

body {
  color: $textColor;
  background: #fff;
  font-family: "Roboto Condensed";
  font-size: 20px;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

a {
  color: $linkcolor;
}

.btn-primary {
  background-color: $btnPrimaryColor;
  color: #353A38;
  font-size: 20px;
  border-color: $btnPrimaryColor;

  &:hover {
    background-color: $btnPrimaryHoverColor;
    color: #353A38;
    border-color: $btnPrimaryHoverColor;
  }

  &.disabled, &:disabled {
    background-color: lighten($btnPrimaryColor, 20%);
    border-color: lighten($btnPrimaryColor, 20%)
  }
}
