header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #d40c14;
  color: white;
  font-size: 16px;
  border-bottom: 30px solid #040404;

  .app-title {
    margin: 20px;
    font-size: 1.5em;
  }

  // nested divs nested circles
  #outer-circle {
    position: relative;
    background: #000;
    border-radius: 50%;
    height: 142px;
    width: 142px;
    margin: 0 auto;
    top: -20px;

    #inner-circle-1 {
      position: absolute;
      background: #fff;
      border-radius: 50%;
      right: 15px;
      left: 15px;
      top: 15px;
      bottom: 15px;

      #inner-circle-2 {
        position: absolute;
        background: #fff;
        border-radius: 75%;
        right: 10px;
        left: 10px;
        top: 10px;
        bottom: 10px;

        #inner-circle-3 {
          position: absolute;
          background: #000;
          border-radius: 50%;
          right: 5px;
          left: 5px;
          top: 5px;
          bottom: 5px;
        }
      }
    }
  }

  // single div nested circles
  .circle {
    height: 5.5em;
    width: 5.5em;
    background-color: black;
    border: 10px solid white;
    box-shadow: 0 0 0 12px black;
    border-radius: 50%;

    &:after {
      position: relative;
      background: #fff;
      border-radius: 50%;
      height: 3.5em;
      width: 3.5em;
      z-index: 10;
    }
  }

  // nested divs nested circle
  .nested-circle {
    background: #000000;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .b_circle {
      background: #ffffff;
      width: 70vh;
      height: 70vh;

      .m_circle {
        background: #000;
        width: 50vh;
        height: 50vh;
        margin: 10vh;

        .s_circle {
          background: #fff;
          width: 35vh;
          height: 35vh;
          margin: 7.5vh;
        }
      }
    }
  }
}
