header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #FF0204;
  color: white;
  font-size: 16px;
  border-bottom: 30px solid #040404;

  .app-title {
    margin: 1em 0 0 1em;
    font-size: 1.5em;
  }

  // nested divs nested circles
  #outer-circle {
    position: relative;
    background: #000;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin: 0 auto;
    top: -15px;

    #inner-circle-1 {
      position: absolute;
      background: #fff;
      border-radius: 50%;
      right: 0.5em;
      left: 0.5em;
      top: 0.5em;
      bottom: 0.5em;

      #inner-circle-2 {
        position: absolute;
        background: #000;
        border-radius: 50%;
        right: 0.4em;
        left: 0.4em;
        top: 0.4em;
        bottom: 0.4em;

        #inner-circle-3 {
          position: absolute;
          background: #fdfdfd;
          border-radius: 50%;
          right: 0.2em;
          left: 0.2em;
          top: 0.2em;
          bottom: 0.2em;
        }
      }
    }
  }
}
