//  @ desc:   responsive design stylea for various screen resolutions

@media (min-width: 410px) {
  .patientdetailcontainer {

    .patiendetails {

      .info {
        display: inline-block;
        flex-grow: 1;
        margin-top: 0px;
        margin-right: 35px;
      }
    }
  }
}

@media (max-width: 420px) {
  .__header--action {
    position: relative;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .patientdetailcontainer {
    display: none;
  }

}

@media (max-width: 575px) {

  .providers .card-header, .personalDetails .card-header, .correspondenceDetails .card-header {
    display: block;
  }
  .card-header--action {
    margin-top: 20px;

    button.btn {
      width: 100% !important;
    }

    button + button {
      margin-left: 0;
      margin-top: 20px !important;
    }
  }
  .card-header h3 .badge {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .inbox {
    &__list {
      .inbox__mail {
        border-radius: 0;
        & + .inbox__mail {
          border-top: 0;
          margin-top: 0;
        }
        .date {
          font-size: 16px;
          color: #333;
        }
      }
    }
    &__year {
      background: #f5f5f5;
      border: 1px solid #dedede;
      border-top: none;
      border-bottom: none;
    }
  }
}

@media (max-width: 768px) {
  .button-block {
    padding-top: 0;
  }

  .btn {
    width: 100%;
    margin-top: 20px;
  }
  .btn.close-button {
    width: 1em;
  }
  .card-header--action .btn {
    margin-top: 0;
  }
  .loginformfield {
    .btn-link + .btn-link {
      margin-left: 0;
      &::before {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  .navBlock {
    display: flex;
    justify-content: space-between;

    .navbar-nav {
      margin: 5px 0 0 50px;
      li {
        margin-right: 10px;
      }
    }

    &__link {
      padding: 25px !important;
      color: #333;
      border-bottom: 5px solid $headerBG;

      &:hover, &:focus, &:active {
        background: transparent;
        color: #333;
        border-bottom: 5px solid $navbordercolor;
      }

      &--selected {
        background: transparent;
        color: #333;
        border-bottom: 5px solid $navbordercolor;

        &:hover, &:focus, &:active {
          background: transparent;
          border-bottom: 5px solid $navbordercolor;
          text-decoration: none;
          color: #333;
        }
      }
    }
    .navbar-collapse {
      float: left;
      flex: 2 auto;
      width: auto;
    }
  }
  .participation {
    &--manage {
      margin-top: 20px;
      .panel__body {
        padding: 10px;
      }
    }
  }
  .card-header--action {
    button.btn {
      width: auto;
    }
  }
  .addressList {
    border-left: 0px solid #e2e2e2;
  }
}

@media (min-width: 768px) {

  .modal-body .datePickerContainer .col-md-3{
 	flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 990px) {

  .loginPage {
    padding-top: 20px;

    .loginContainer {
      flex-direction: column;
      width: 96%;
    }
    .loginMessage {
      padding: 30px;
      flex: 1 1 auto;
      background: #f2f2f2;
    }

    .loginformfield {
      width: auto;
      margin: 0;
      text-align: center;
      border-left: 0px solid #e2e2e2;
      overflow: hidden;
      flex: 1 1 auto;
    }
  }

  .menu-wrap {
    .btn-close-fa {
        display: block;
    }
  }
  .patient--detail__mobile {
    color: #333;
    background: #fff;
    padding: 2.5em 1.5em 1em;

    h1 {
      font-size: 22px;
      margin: 0 15px 10px 0;
      padding: 0;
    }
    .info {
      display: inline-block;
      margin: 10px 10px 0 0;
    }
  }
  .patientdetailcontainer {
    padding: 20px 0;
  }
  .patientdetailcontainer .patiendetails .patientdetail .patientinfo {
    margin-top: 0;
  }

  // start : tabs-2-panels
  .tabs-2-panels-container {

    .nav-tabs {
      display: none;
    }

	.alert{
      margin-top: 15px;
    }
    .tab-content {

      .nav-accordion-link {
        margin-top: 25px;
        padding: 15px 20px;
        background-color: #f7f7f9;
        color: #333;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        border-bottom-width: 2px;
        cursor: pointer;
        text-decoration: none;

        &:first-child {
          border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        }
        &:last-child {
          margin-bottom: 25px;
        }
      }
    }
  }
  // end : tabs-2-panels

}

@media (min-width: 990px) {
  .main-menu {
    li {
        display: inline-block;
        float: left;
        position: relative;
        
        & + li{
        margin-left: 8px;}

      a {
         text-decoration: none;
         color: #fff;
         display: block;
         border-bottom: 4px solid $navcolor;
         font-weight:100;

         &:hover {
            border-bottom: $subnavbordersize solid $navbordercolor;
         }
         &.active {
            border-bottom: $subnavbordersize solid $navbordercolor;
            color: $_white;
            font-weight:400;
         }
         &:focus{
         outline-color:#F5AE2C;
         }
       }

       &:last-child {
         border-right: none;
       }
    }
  }

  .menu-wrap {
    position: relative;
    width: auto;
    height: auto;
    transform: none;
    background: transparent;
    overflow-y: hidden;

    .patient--detail__mobile {
      display: none;
    }
    .close-button {
      display: none;
    }

    .btn-close-fa {
      display: none;
    }
  }
}
