//  @desc:   Custom mixin functions

// Breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == sm-md {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == md-lg {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//  @usage: font-size: calculateRem($size); }
@function calculateRem($size) {
    $remSize: $size / 14px;
    @return $remSize;
}

//  @usage: p { @include font-size(12px)}
@mixin font-size($size: '14px') {
    font-size: $size !important;
}

//  @usage: @include placeholder(color, fontsize)
@mixin placeholder($color: '#eee', $fontsize: '1em') {

  &:-moz-placeholder {
    @include font-size($fontsize);
    color: $color;
  }

  &::-moz-placeholder {
    @include font-size($fontsize);
    color: $color;
  }

  &:-ms-input-placeholder {
    @include font-size($fontsize);
    color: $color;
  }

  &::-webkit-input-placeholder {
    @include font-size($fontsize);
    color: $color;
  }
}

//  @usage: p { @include margin(right, 10px); }
@mixin margin($direction, $val) {
  @if $direction == left {
    margin-left: #{$val};
  } @else if $direction == right {
    margin-right: #{$val};
  } @else if $direction == top {
    margin-top: #{$val};
  } @else if $direction == bottom {
    margin-bottom: #{$val};
  } @else {
    margin: #{$val};
  }
}

//  @usage: p { @include padding(left, 5px); }
@mixin padding($direction, $val) {
  @if $direction == left {
    padding-left: #{$val};
  } @else if $direction == right {
    padding-right: #{$val};
  } @else if $direction == top {
    padding-top: #{$val};
  } @else if $direction == bottom {
    padding-bottom: #{$val};
  } @else {
    padding: #{$val};
  }
}
