//  @ desc:   generic text styles

$_font-size-base: 1em !default;
$_font-size-lg: 1.25em !default;
$_font-size-sm: 0.875em !default;
$_font-size-xs: 0.75em !default;

// Generic text style classes
._ {
  &font-size-base {
    font-size: $_font-size-base;
  }

  &font-size-lg {
    font-size: $_font-size-lg;
  }

  &font-size-sm {
    font-size: $_font-size-sm;
  }

  &font-size-xs {
    font-size: $_font-size-xs;
  }
}
