//  @ desc:   custom app styles imports - main file

//   app custom styles
$primaryColor: #1150A5;
$secondaryColor: #777777;
$lightBG: #ECEFF1;
$headerBG: #ECECEC;
$padding: 10px;
$textColor: #333;
$navcolor: #124B60;
$navbordercolor: #F5AE2C;
$subnavbordersize: 4px;
$linkcolor: #1150A5;
$btnPrimaryColor: #F5AE2C;
$btnPrimaryHoverColor: #EA7607;

//   generic colors
$_black: #000000;
$_black-light: #1c1c1b;

$_white: #ffffff;
$_white-smoke: #f5f5f5;

$_blue: #0069b4;
$_blue-light: #00A7E7;
$_blue-dark: #0069B4;
$_blue-dark-1: #1150a5;

$_grey: #a0AAB2;
$_grey-light: #a5a3a3;
$_grey-light-1: #f4f5f5;
$_grey-light-2: #e2e2e2;
$_grey-light-3: #e6e9ee;
$_grey-medium: #666;
$_grey-dark: #bABABA;
$_grey-dark-1: #2b3d51;
$_grey-dark-2: #515d6e;
$_grey-dark-3: #636c72;

$_red: #e4022D;
$_red-light: #ea5555;
$_red-dark: #c44646;

$_green: #018201;
$_green-light: #7ED321;
$_green-dark: #3c763d;

// components branding colors
$_primary: #3F51B5;
$_success: #4caf50;
$_info: #2095f2;
$_warning: #fe9700;
$_danger: #f34235;
$_inverse: #363f45;
$_amber: #fFC107;
$_pink: #e91e63;
$_purple: #6639b6;
$_orange: #eC6606;
$_noir: #212121;
