<!-- start : search bar -->
<div class="row justify-content-end">
  <div class=" col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Pockemon..." aria-label="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
<!-- // end : search bar -->

<!-- start : items list -->
<div class="list-group">
  <div class="row">
    <div *ngFor="let item of pagedItems; let i =index"
         class="list-group-item col-lg-4 col-sm-6 col-xs-12 justify-content-center">
      <a class="clearfix" [href]="item.url" target="_blank">

        <!-- start : pokemon image icon -->
        <img class="pull-left align-middle" alt="{{item.name}} icon" src="assets/images/icons/{{i+1}}.png">
        <!-- // end : pokemon image icon -->

        <!-- start : pokemon number/name -->
        <div class="pull-left mt-3">
          <h5>#{{i+1}}</h5>
          <h4>{{item.name}}</h4>
        </div>
        <!-- // end : pokemon number/name -->

      </a>
    </div>
  </div>
</div>
<!-- // end : items list -->

<!-- start : pagination component -->
<div class="list-group">
  <div class="row">
    <div class="list-group-item col-12 justify-content-center">

      <nav aria-label="Page navigation buttons list">
        <ul class="pagination pagination-sm mt-3" *ngIf="pager.pages && pager.pages.length">

          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a href="javascript:void(0)" class="page-link" (click)="setPage(1)">First</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a href="javascript:void(0)" class="page-link" (click)="setPage(pager.currentPage - 1)">Prev</a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a href="javascript:void(0)" class="page-link" (click)="setPage(page)"> <span class="sr-only"
                                                                                          *ngIf="pager.currentPage === page">active page</span>
              {{page}} </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a href="javascript:void(0)" class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a href="javascript:void(0)" class="page-link" (click)="setPage(pager.totalPages)">Last</a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
</div>
<!-- // end : pagination component -->
